@using System.Threading.Tasks
@using AttendanceCore.Infrastructure
@using Microsoft.ApplicationInsights.Extensibility
@model EntryViewModel

@{
    var type = ViewBag.Result?.Type;
    var message = ViewBag.Result?.Message;
}

@if (!string.IsNullOrWhiteSpace(message))
{
    <div class="alert alert-@type">
        @message
    </div>
}
<form asp-action="Index" asp-controller="Home" method="post" class="form-horizontal">
    <div class="form-group">
        <label asp-for="EntryType"></label>
        <select asp-for="EntryType" class="form-control">
            <option value="1" selected="selected">@EntryType.In</option>
            <option value="0">@EntryType.Out</option>
        </select>
        <div asp-validation-for="EntryType"></div>
    </div>
    <div class="form-group">
        <input type="submit" class="btn btn-success" value="Save"/>
    </div>
</form>

@{ await Html.RenderPartialAsync("_AttendanceReview"); }